@{

}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <!--@ViewData["Comment"]-->
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/layoutStyles.css" rel="stylesheet" type="text/css" />
    <link href="~/css/PostListStyles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav>
        <ul>
            <li><a asp-action="../Home/Index">Home</a></li>
            <li><a asp-action="../Home/About">About</a></li>
            <li><a asp-action="../Stories/PostList">Stories</a></li>
            <li><a asp-action="../Stories/StoryForm">Post a Story</a></li>
            <li><a asp-action="../Source/Media">Media</a></li>
            <li><a asp-action="../Source/Books">Books</a></li>
            <li><a asp-action="../Home/Memes">Memes</a></li>
        </ul>
    </nav>

    @RenderBody()
</body>
</html>
