@model DC_Fan_Site_Goldbloom.Models.IPost
@{
	ViewData["Title"] = "Post Confirm";
	ViewData["Comment"] = "This page is the confirmation page for when a user posts a story or reply.";
	Layout = "_Layout";
}

<h2>Your Post:</h2><br />
<br />
<table>
    <tr>
        <td>
            <h3>@Model.Header</h3><br />
            <p>@Model.Body</p>
        </td>
    </tr>
</table>
