@model DC_Fan_Site_Goldbloom.Models.Story

@{
    ViewData["Title"] = "Post a Story";
    ViewData["Comment"] = "This page is the form for submitting a story.";
}

<form method="post" asp-controller="Stories" asp-action="PostConfirm">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<label for="Header">Header</label>
	<input type="text" asp-for="Header" /><br />
	<span asp-validation-for="Header" class="text-danger"></span><br />
	<label for="Body">Body</label>
	<input type="text" asp-for="Body" /><br />
	<span asp-validation-for="Body" class="text-danger"></span><br />
	<input type="submit" value="Post" />
</form>