@{ 
    ViewData["Title"] = "HomePage";
    ViewData["Comment"] = "This is the home page for the Jeff Goldblum fan-site";
}

<h1 id="introductionTitle">Jeff GoldBloom</h1>
<h2>The Man, The Meme, The Legend</h2>

<p id="introductionParagraph">
    Whether you are a movie connoisseur, a young wippersnapper thrown into the catagory of millennial-hood, or 
    if Jerassic Park debuted during your time, you more than likely know the name Jeff Goldbloom.
</p>

@ViewBag.Arbitrary