@{
    ViewData["Title"] = "MemePage";
    ViewData["Comment"] = "This page is about silly fan-made stuff that include Jeff Goldblum.";
}

<h1 id="memeTitle">The Meme</h1>

<p id="memeParagraph">
    For those of you who are normies and have no experience with the weirdness of the internet, Jeff Goldbloom
    is simply a famous actor known for his roles that he plays with his unique personality to solidify his niche.
    For everyone within my friends circle who know of the strange things people make in their off time, we know
    him as a patient zero for the strange things that are inspired in the creative hive-mind of the internet.
    If not for the miracles of the internet inspiring a new generation to reach into the media of the past, I
    might not have felt so inclined to include such details into my fan-site. However, because I'm very good at
    losing my focus on these projects, let's have some fun and dive into it.<br />
    <br />
    In case you live under a proverbial rock on the urban street-corner of your preferred side of the internet,
    may I introduce exhibit A.
</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/wJelEXaPhJ8"
        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>